In [19]:
import pandas as pd
import numpy as np
pd.options.display.max_rows

60

In [6]:
pd.options.display.max_rows=99

In [10]:
pd.get_option('display.chop_threshold',2)
pd.set_option('display.chop_threshold',2)
pd.set_option("display.chop_threshold",2)

In [ ]:
pd.get_option("max")

# The following will not work because it matches multiple option names, e.g. display.max_colwidth, display.max_rows, display.max_columns: ## will not work

## Available options

In [ ]:
# You can get a list of available options and their descriptions with describe_option(). When called with no argument describe_option() will print out the descriptions for all available options.

In [14]:
# pd.descirbe_options()

In [ ]:
# option_context() context manager has been exposed through the top-level API, allowing you to execute code with given option values. Option values are restored automatically when you exit the with block:

In [ ]:
with pd.option_context("display.max_rows", 10, "display.max_columns", 5):
    print(pd.get_option("display.max_rows"))
    print(pd.get_option("display.max_columns"))
print(pd.get_option("display.max_rows"))

In [17]:
print(pd.get_option("display.max_rows"))

60

In [ ]:
# Using startup scripts for the Python/IPython environment to import pandas and set options makes working with pandas more efficient. To do this, create a .py or .ipy script in the startup directory of the desired profile. An example where the startup folder is in a default IPython profile can be found at:

In [ ]:
import pandas as pd

pd.set_option("display.max_rows", 999)
pd.set_option("display.precision", 5)

In [ ]:
# display.chop_threshold sets the rounding threshold to zero when displaying a Series or DataFrame. This setting does not change the precision at which the number is stored.

In [27]:
# display.chop_threshold
df = pd.DataFrame(np.random.randn(6, 6))

pd.set_option("chop_threshold", 0)

df

          0         1         2         3         4         5
0  0.718002 -1.269641  0.227862  1.571918 -0.513308 -0.234841
1  0.457702 -0.887501 -0.517970 -0.415136 -0.380708 -0.323505
2 -0.522474  0.043381  1.115406 -0.228435 -1.053599 -0.144328
3  0.106992  1.447712  0.256057 -0.712333  1.665328  0.308832
4  0.160124  0.115302  0.814267 -1.443250 -0.366232  0.630490
5 -0.318626  2.384041 -0.409324 -1.275595  0.720665  0.402015

In [ ]:
# display.colheader_justify controls the justification of the headers. The options are 'right', and 'left'.

In [28]:
df = pd.DataFrame(
    np.array([np.random.randn(6), np.random.randint(1, 9, 6) * 0.1, np.zeros(6)]).T,
    columns=["A", "B", "C"],
    dtype="float",
)
pd.set_option("colheader_justify", "right")

## Frequently used options

In [ ]:
# The following is a demonstrates the more frequently used display options.

# display.max_rows and display.max_columns sets the maximum number of rows and columns displayed when a frame is pretty-printed. Truncated lines are replaced by an ellipsis.

In [20]:
df = pd.DataFrame(np.random.randn(7, 2))
pd.set_option("display.max_rows", 7)
df

          0         1
0  1.486545  3.116079
1  0.900950 -0.279846
2  0.087788 -0.987487
3  1.564836  0.472474
4  0.239351 -1.163926
5  1.631847 -0.626842
6 -0.518562  0.196623

In [ ]:
# Once the display.max_rows is exceeded, the display.min_rows options determines how many rows are shown in the truncated repr.

In [21]:
pd.set_option("display.max_rows", 8)

In [22]:
pd.set_option("display.min_rows", 4)

In [23]:
df = pd.DataFrame(np.random.randn(7, 2))

df

          0         1
0  0.061831 -0.325467
1  0.679892  0.093994
2 -1.416825 -1.784497
3  0.744818  0.002486
4  0.701935 -1.901956
5 -0.085390  0.594308
6  1.269107  0.506882

In [ ]:
# display.expand_frame_repr allows for the representation of a DataFrame to stretch across pages, wrapped over the all the columns.

In [24]:
df = pd.DataFrame(np.random.randn(5, 10))
pd.set_option("expand_frame_repr", True)

In [26]:
pd.set_option("expand_frame_repr", False)

## Getting and Setting options

In [ ]:
# As described above, get_option() and set_option() are available from the pandas namespace. To change an option, call set_option('option regex', new_value).

In [15]:
pd.get_option("mode.sim_interactive")

False

In [ ]:
# It’s also possible to reset multiple options at on

In [16]:
pd.reset_option("^display")

In [ ]:
df = pd.DataFrame(np.random.randn(7, 2))
pd.set_option("display.max_rows", 7)
pd.set_option("display.max_rows", 5)
## max and min rows
pd.set_option("display.max_rows", 8)

pd.set_option("display.min_rows", 4)

In [ ]:
df = pd.DataFrame(np.random.randn(9, 2))
pd.reset_option("display.max_rows")

pd.reset_option("display.min_rows")

In [ ]:
# display.expand_frame_repr allows for the representation of a DataFrame to stretch across pages, wrapped over the all the columns.

In [ ]:
df = pd.DataFrame(np.random.randn(5, 10))
pd.set_option("expand_frame_repr", True)

In [ ]:
pd.set_option("expand_frame_repr", False)

In [ ]:
# pd.reset_option("expand_frame_repr")
# display.large_repr displays a DataFrame that exceed max_columns or max_rows as a truncated frame or summary.
df = pd.DataFrame(np.random.randn(10, 10))

pd.set_option("display.max_rows", 5)

pd.set_option("large_repr", "truncate")

In [ ]:
df = pd.DataFrame(np.random.randn(10, 10))

pd.set_option("display.max_rows", 5)

pd.set_option("large_repr", "truncate")

In [ ]:
pd.set_option("large_repr", "info")

In [ ]:
pd.reset_option("large_repr")
pd.reset_option("display.max_rows")

In [ ]:
df = pd.DataFrame(np.random.randn(10, 10))
pd.set_option("max_info_columns", 11)

In [ ]:
# display.max_info_rows: info() will usually show null-counts for each column. For a large DataFrame, this can be quite slow. max_info_rows and max_info_cols limit this null check to the specified rows and columns respectively. The info() keyword argument null_counts=True will override this.

In [ ]:
df = pd.DataFrame(np.random.choice([0, 1, np.nan], size=(10, 10)))
df
pd.set_option("max_info_rows", 11)

In [ ]:
pd.set_option("max_info_rows", 5)
pd.reset_option("max_info_rows")

In [ ]:
df = pd.DataFrame(np.random.randn(5, 5))
pd.set_option("display.precision", 7)

In [ ]:
df = pd.DataFrame(np.random.randn(6, 6))
pd.set_option("chop_threshold", 0)
pd.set_option("chop_threshold", 0.5)

In [ ]:
# display.colheader_justify controls the justification of the headers. The options are 'right', and 'left'.

In [ ]:
df = pd.DataFrame(
    np.array([np.random.randn(6), np.random.randint(1, 9, 6) * 0.1, np.zeros(6)]).T,
    columns=["A", "B", "C"],
    dtype="float",
)


pd.set_option("colheader_justify", "right")
pd.set_option("colheader_justify", "left")

# Number formatting

In [ ]:
import numpy as np

pd.set_eng_float_format(accuracy=3, use_eng_prefix=True)
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [ ]:
# Table schema display

In [ ]:
pd.set_option("display.html.table_schema", True)

## Unicode formatting -->

In [31]:
# Some East Asian countries use Unicode characters whose width corresponds to two Latin characters. If a DataFrame or Series contains these characters, the default output mode may not align them properly.
df = pd.DataFrame({"国籍": ["UK", "日本"], "名前": ["Alice", "しのぶ"]})

df

   国籍     名前
0  UK  Alice
1  日本    しのぶ

In [ ]:
# Enabling display.unicode.east_asian_width allows pandas to check each character’s “East Asian Width” property. These characters can be aligned properly by setting this option to True. However, this will result in longer render times than the standard len function.

In [ ]:
pd.set_option("display.unicode.east_asian_width", True)

In [ ]:
# In addition, Unicode characters whose width is “ambiguous” can either be 1 or 2 characters wide depending on the terminal setting or encoding. The option display.unicode.ambiguous_as_wide can be used to handle the ambiguity.

# By default, an “ambiguous” character’s width, such as “¡” (inverted exclamation) in the example below, is taken to be 1.

In [32]:
df = pd.DataFrame({"a": ["xxx", "¡¡"], "b": ["yyy", "¡¡"]})

df

     a    b
0  xxx  yyy
1   ¡¡   ¡¡

In [ ]:
# Enabling display.unicode.ambiguous_as_wide makes pandas interpret these characters’ widths to be 2. (Note that this option will only be effective when display.unicode.east_asian_width is enabled.)

# However, setting this option incorrectly for your terminal will cause these characters to be aligned incorrectly:

In [ ]:
pd.set_option("display.unicode.ambiguous_as_wide", True)

## Table schema display -->

In [ ]:
# DataFrame and Series will publish a Table Schema representation by default. This can be enabled globally with the display.html.table_schema option:

In [30]:
pd.set_option("display.html.table_schema", True)