In [1]:
import pandas as pd

In [2]:
url = (
    "https://raw.github.com/pandas-dev"
    "/pandas/main/pandas/tests/io/data/csv/tips.csv"
)

In [3]:
df=pd.read_csv(url)

In [15]:
test={'a':1,'c':{'a':2,'b':{'x':5,'y':2}}}

In [19]:
def parser(init,lkey=''):
    ret={}
    for rkey,val in init.items():
        key=lkey+rkey
        if isinstance(val,dict):
            ret.update(parser(val,key+'_'))
        else:
            ret[key]=val
    return ret

In [21]:
!pip3 install cherrypicker

Collecting cherrypicker
  Downloading cherrypicker-0.4.0.tar.gz (221 kB)
     -------------------------------------- 221.6/221.6 KB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: joblib>=0.13.0 in c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from cherrypicker) (1.1.0)
Building wheels for collected packages: cherrypicker
  Building wheel for cherrypicker (setup.py): started

WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\00824732\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\00824732\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

  Building wheel for cherrypicker (setup.py): finished with status 'done'
  Created wheel for cherrypicker: filename=cherrypicker-0.4.0-py3-none-any.whl size=13230 sha256=4e633df677feebc71f67cffe703c665e44194cc733152b723aa8079679053001
  Stored in directory: c:\users\00824732\appdata\local\pip\cache\wheels\cd\0a\b8\4305cb20a27d6d78fc74f5971bd5aefc1422eb5c0b789a6fc2
Successfully built cherrypicker
Installing collected packages: cherrypicker
Successfully installed cherrypicker-0.4.0

In [23]:
from cherrypicker import CherryPicker

In [25]:
picker = CherryPicker(test)
picker.flatten().get()

{'a': 1, 'c_a': 2, 'c_b_x': 5, 'c_b_y': 2}

In [20]:
print(parser(tes    t,''))

{'a': 1, 'c_a': 2, 'c_b_x': 5, 'c_b_y': 2}

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [12]:
(df.assign(rnk=df.groupby(["day"])["total_bill"].rank(method="first",ascending=False)).query("rnk>2"))

     total_bill   tip     sex smoker   day    time  size   rnk
0         16.99  1.01  Female     No   Sun  Dinner     2  49.0
1         10.34  1.66    Male     No   Sun  Dinner     3  68.0
2         21.01  3.50    Male     No   Sun  Dinner     3  34.0
3         23.68  3.31    Male     No   Sun  Dinner     2  27.0
4         24.59  3.61  Female     No   Sun  Dinner     4  23.0
..          ...   ...     ...    ...   ...     ...   ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3  13.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2  16.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2  26.0
242       17.82  1.75    Male     No   Sat  Dinner     2  47.0
243       18.78  3.00  Female     No  Thur  Dinner     2  20.0

[236 rows x 8 columns]

In [8]:
(df[df["tip"]>2].assign(rnk=df.sort_values(["sex"])["tip"]).query("rnk>3"))

     total_bill   tip     sex smoker  day    time  size   rnk
2         21.01  3.50    Male     No  Sun  Dinner     3  3.50
3         23.68  3.31    Male     No  Sun  Dinner     2  3.31
4         24.59  3.61  Female     No  Sun  Dinner     4  3.61
5         25.29  4.71    Male     No  Sun  Dinner     4  4.71
7         26.88  3.12    Male     No  Sun  Dinner     4  3.12
..          ...   ...     ...    ...  ...     ...   ...   ...
219       30.14  3.09  Female    Yes  Sat  Dinner     4  3.09
221       13.42  3.48  Female    Yes  Fri   Lunch     2  3.48
232       11.61  3.39    Male     No  Sat  Dinner     2  3.39
238       35.83  4.67  Female     No  Sat  Dinner     3  4.67
239       29.03  5.92    Male     No  Sat  Dinner     3  5.92

[98 rows x 8 columns]

In [8]:
(df.assign(rn=df.sort_values(['total_bill'],ascending=False).groupby(['day']).cumcount()+1).query("rn>3").sort_values(["day","rn"]))

     total_bill   tip     sex smoker   day    time  size  rn
94        22.75  3.25  Female     No   Fri  Dinner     2   4
91        22.49  3.50    Male     No   Fri  Dinner     2   5
98        21.01  3.00    Male    Yes   Fri  Dinner     2   6
93        16.32  4.30  Female    Yes   Fri  Dinner     2   7
225       16.27  2.50  Female    Yes   Fri   Lunch     2   8
..          ...   ...     ...    ...   ...     ...   ...  ..
126        8.52  1.48    Male     No  Thur   Lunch     2  58
135        8.51  1.25  Female     No  Thur   Lunch     2  59
145        8.35  1.50  Female     No  Thur   Lunch     2  60
195        7.56  1.44    Male     No  Thur   Lunch     2  61
149        7.51  2.00    Male     No  Thur   Lunch     2  62

[232 rows x 8 columns]

In [29]:
from datetime import datetime
class methods:
    def __init__(self,age):
        self.age=age
    @classmethod
    def frombirthyear(cls,year):
        return cls(datetime.today().year-year)
    @staticmethod
    def frombirths(age):
        return age>18


person2=person1.frombirthyear(23)
print(person2.age)
methods.frombirths(23)

1999

True

In [38]:
test_list=[1,1,2,2,3]
x=[]
y=[]
for i in test_list:
    if i not in x:
        x.append(i)
for i in x:
    if test_list.count(i)>1:
        y.append(i)

In [59]:
(df.assign(rank=df.sort_values(["tip"],ascending=False)..cumcount()).query("rank>3").sort_values(["rank"]))

AttributeError: 'DataFrame' object has no attribute 'cumcount'

In [53]:
(df.assign(rank=df.groupby(["sex"])["tip"].rank(method="min")).query("rank>3"))

     total_bill   tip     sex smoker   day    time  size   rank
0         16.99  1.01  Female     No   Sun  Dinner     2    4.0
1         10.34  1.66    Male     No   Sun  Dinner     3   20.0
2         21.01  3.50    Male     No   Sun  Dinner     3  109.0
3         23.68  3.31    Male     No   Sun  Dinner     2  103.0
4         24.59  3.61  Female     No   Sun  Dinner     4   70.0
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  150.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2   18.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2   29.0
242       17.82  1.75    Male     No   Sat  Dinner     2   23.0
243       18.78  3.00  Female     No  Thur  Dinner     2   49.0

[237 rows x 8 columns]

In [11]:
(df[df["tip"]>2].assign(rank=df.groupby(["day"])["total_bill"].rank(method="first",ascending=False)).query("rank>3").sort_values(by=["rank"],ascending=False))

     total_bill   tip     sex smoker   day    time  size  rank
172        7.25  5.15    Male    Yes   Sun  Dinner     2  76.0
232       11.61  3.39    Male     No   Sat  Dinner     2  75.0
178        9.60  4.00  Female    Yes   Sun  Dinner     2  74.0
209       12.76  2.23  Female    Yes   Sat  Dinner     2  71.0
51        10.29  2.60  Female     No   Sun  Dinner     2  70.0
..          ...   ...     ...    ...   ...     ...   ...   ...
91        22.49  3.50    Male     No   Fri  Dinner     2   5.0
112       38.07  4.00    Male     No   Sun  Dinner     3   4.0
102       44.30  2.50  Female    Yes   Sat  Dinner     3   4.0
94        22.75  3.25  Female     No   Fri  Dinner     2   4.0
141       34.30  6.70    Male     No  Thur   Lunch     6   4.0

[154 rows x 8 columns]

In [20]:

(df.assign(rnk=df.groupby(["day"])["total_bill"].rank(method="first",ascending=False)).query("rnk>3").sort_values(["day","rnk"]))

     total_bill   tip     sex smoker   day    time  size   rnk
94        22.75  3.25  Female     No   Fri  Dinner     2   4.0
91        22.49  3.50    Male     No   Fri  Dinner     2   5.0
98        21.01  3.00    Male    Yes   Fri  Dinner     2   6.0
93        16.32  4.30  Female    Yes   Fri  Dinner     2   7.0
225       16.27  2.50  Female    Yes   Fri   Lunch     2   8.0
..          ...   ...     ...    ...   ...     ...   ...   ...
126        8.52  1.48    Male     No  Thur   Lunch     2  58.0
135        8.51  1.25  Female     No  Thur   Lunch     2  59.0
145        8.35  1.50  Female     No  Thur   Lunch     2  60.0
195        7.56  1.44    Male     No  Thur   Lunch     2  61.0
149        7.51  2.00    Male     No  Thur   Lunch     2  62.0

[232 rows x 8 columns]

In [26]:
(df[df["tips"]>2].assign(rnk=tips.groupby(["sec"])["tip"].rank(method="min")).query("rnk>3"))

KeyError: 'tips'

In [25]:
pd.set_option('display.max_rows',None)
(df[df["tip"]>2].assign(rnk=df.groupby(["sex"])["tip"].rank(method='min')).query("rnk>3"))

     total_bill    tip     sex smoker   day    time  size    rnk
2         21.01   3.50    Male     No   Sun  Dinner     3  109.0
3         23.68   3.31    Male     No   Sun  Dinner     2  103.0
4         24.59   3.61  Female     No   Sun  Dinner     4   70.0
5         25.29   4.71    Male     No   Sun  Dinner     4  136.0
7         26.88   3.12    Male     No   Sun  Dinner     4   95.0
9         14.78   3.23    Male     No   Sun  Dinner     2  101.0
11        35.26   5.00  Female     No   Sun  Dinner     4   80.0
13        18.43   3.00    Male     No   Sun  Dinner     4   76.0
14        14.83   3.02  Female     No   Sun  Dinner     2   56.0
15        21.58   3.92    Male     No   Sun  Dinner     2  120.0
17        16.29   3.71    Male     No   Sun  Dinner     3  117.0
18        16.97   3.50  Female     No   Sun  Dinner     3   65.0
19        20.65   3.35    Male     No   Sat  Dinner     3  104.0
20        17.92   4.08    Male     No   Sat  Dinner     2  131.0
21        20.29   2.75  Female     No   Sat  Dinner     2   44.0
22        15.77   2.23  Female     No   Sat  Dinner     2   31.0
23        39.42   7.58    Male     No   Sat  Dinner     4  155.0
24        19.82   3.18    Male     No   Sat  Dinner     2   98.0
25        17.81   2.34    Male     No   Sat  Dinner     4   63.0
28        21.70   4.30    Male     No   Sat  Dinner     2  133.0
29        19.65   3.00  Female     No   Sat  Dinner     2   49.0
31        18.35   2.50    Male     No   Sat  Dinner     4   64.0
32        15.06   3.00  Female     No   Sat  Dinner     2   49.0
33        20.69   2.45  Female     No   Sat  Dinner     4   34.0
34        17.78   3.27    Male     No   Sat  Dinner     2  102.0
35        24.06   3.60    Male     No   Sat  Dinner     3  115.0
37        16.93   3.07  Female     No   Sat  Dinner     3   57.0
38        18.69   2.31    Male     No   Sat  Dinner     3   61.0
39        31.27   5.00    Male     No   Sat  Dinner     3  138.0
40        16.04   2.24    Male     No   Sat  Dinner     3   59.0
41        17.46   2.54    Male     No   Sun  Dinner     2   69.0
42        13.94   3.06    Male     No   Sun  Dinner     2   92.0
44        30.40   5.60    Male     No   Sun  Dinner     4  147.0
45        18.29   3.00    Male     No   Sun  Dinner     2   76.0
46        22.23   5.00    Male     No   Sun  Dinner     2  138.0
47        32.40   6.00    Male     No   Sun  Dinner     4  151.0
48        28.55   2.05    Male     No   Sun  Dinner     3   55.0
49        18.04   3.00    Male     No   Sun  Dinner     2   76.0
50        12.54   2.50    Male     No   Sun  Dinner     2   64.0
51        10.29   2.60  Female     No   Sun  Dinner     2   42.0
52        34.81   5.20  Female     No   Sun  Dinner     4   86.0
54        25.56   4.34    Male     No   Sun  Dinner     4  134.0
55        19.49   3.51    Male     No   Sun  Dinner     2  113.0
56        38.01   3.00    Male    Yes   Sat  Dinner     4   76.0
59        48.27   6.73    Male     No   Sat  Dinner     4  154.0
60        20.29   3.21    Male    Yes   Sat  Dinner     2  100.0
63        18.29   3.76    Male    Yes   Sat  Dinner     4  118.0
64        17.59   2.64    Male     No   Sat  Dinner     3   72.0
65        20.08   3.15    Male     No   Sat  Dinner     3   96.0
66        16.45   2.47  Female     No   Sat  Dinner     2   35.0
68        20.23   2.01    Male     No   Sat  Dinner     2   51.0
69        15.01   2.09    Male    Yes   Sat  Dinner     2   56.0
71        17.07   3.00  Female     No   Sat  Dinner     3   49.0
72        26.86   3.14  Female    Yes   Sat  Dinner     2   59.0
73        25.28   5.00  Female    Yes   Sat  Dinner     2   80.0
74        14.73   2.20  Female     No   Sat  Dinner     2   30.0
76        17.92   3.08    Male    Yes   Sat  Dinner     2   93.0
77        27.20   4.00    Male     No  Thur   Lunch     4  121.0
78        22.76   3.00    Male     No  Thur   Lunch     2   76.0
79        17.29   2.71    Male     No  Thur   Lunch     2   73.0
80        19.44   3.00    Male    Yes  Thur   Lunch     2   76.0
81        16.66   3.40    Male     No  Thur   Lunch     2  106.0
83        32.68   5.00    Male    Yes  Thur   Lunch     2  138.0
84        15.98   2.03    Male     No  Thur   Lunch     2   53.0
85        34.83   5.17  Female     No  Thur   Lunch     4   85.0
87        18.28   4.00    Male     No  Thur   Lunch     2  121.0
88        24.71   5.85    Male     No  Thur   Lunch     2  149.0
89        21.16   3.00    Male     No  Thur   Lunch     2   76.0
90        28.97   3.00    Male    Yes   Fri  Dinner     2   76.0
91        22.49   3.50    Male     No   Fri  Dinner     2  109.0
93        16.32   4.30  Female    Yes   Fri  Dinner     2   78.0
94        22.75   3.25  Female     No   Fri  Dinner     2   61.0
95        40.17   4.73    Male    Yes   Fri  Dinner     4  137.0
96        27.28   4.00    Male    Yes   Fri  Dinner     2  121.0
98        21.01   3.00    Male    Yes   Fri  Dinner     2   76.0
100       11.35   2.50  Female    Yes   Fri  Dinner     2   36.0
101       15.38   3.00  Female    Yes   Fri  Dinner     2   49.0
102       44.30   2.50  Female    Yes   Sat  Dinner     3   36.0
103       22.42   3.48  Female    Yes   Sat  Dinner     2   63.0
104       20.92   4.08  Female     No   Sat  Dinner     2   75.0
106       20.49   4.06    Male    Yes   Sat  Dinner     2  130.0
107       25.21   4.29    Male    Yes   Sat  Dinner     2  132.0
108       18.24   3.76    Male     No   Sat  Dinner     2  118.0
109       14.31   4.00  Female    Yes   Sat  Dinner     2   72.0
110       14.00   3.00    Male     No   Sat  Dinner     2   76.0
112       38.07   4.00    Male     No   Sun  Dinner     3  121.0
113       23.95   2.55    Male     No   Sun  Dinner     2   70.0
114       25.71   4.00  Female     No   Sun  Dinner     3   72.0
115       17.31   3.50  Female     No   Sun  Dinner     2   65.0
116       29.93   5.07    Male     No   Sun  Dinner     4  144.0
119       24.08   2.92  Female     No  Thur   Lunch     4   48.0
120       11.69   2.31    Male     No  Thur   Lunch     2   61.0
122       14.26   2.50    Male     No  Thur   Lunch     2   64.0
124       12.48   2.52  Female     No  Thur   Lunch     2   41.0
125       29.80   4.20  Female     No  Thur   Lunch     6   77.0
129       22.82   2.18    Male     No  Thur   Lunch     3   57.0
131       20.27   2.83  Female     No  Thur   Lunch     2   46.0
134       18.26   3.25  Female     No  Thur   Lunch     2   61.0
139       13.16   2.75  Female     No  Thur   Lunch     2   44.0
140       17.47   3.50  Female     No  Thur   Lunch     2   65.0
141       34.30   6.70    Male     No  Thur   Lunch     6  153.0
142       41.19   5.00    Male     No  Thur   Lunch     5  138.0
143       27.05   5.00  Female     No  Thur   Lunch     6   80.0
144       16.43   2.30  Female     No  Thur   Lunch     2   33.0
150       14.07   2.50    Male     No   Sun  Dinner     2   64.0
152       17.26   2.74    Male     No   Sun  Dinner     3   75.0
155       29.85   5.14  Female     No   Sun  Dinner     5   84.0
156       48.17   5.00    Male     No   Sun  Dinner     6  138.0
157       25.00   3.75  Female     No   Sun  Dinner     4   71.0
158       13.39   2.61  Female     No   Sun  Dinner     2   43.0
160       21.50   3.50    Male     No   Sun  Dinner     4  109.0
161       12.66   2.50    Male     No   Sun  Dinner     2   64.0
164       17.51   3.00  Female    Yes   Sun  Dinner     2   49.0
165       24.52   3.48    Male     No   Sun  Dinner     3  108.0
166       20.76   2.24    Male     No   Sun  Dinner     2   59.0
167       31.71   4.50    Male     No   Sun  Dinner     4  135.0
170       50.81  10.00    Male    Yes   Sat  Dinner     3  157.0
171       15.81   3.16    Male    Yes   Sat  Dinner     2   97.0
172        7.25   5.15    Male    Yes   Sun  Dinner     2  145.0
173       31.85   3.18    Male    Yes   Sun  Dinner     2   98.0
174       16.82   4.00    Male    Yes   Sun  Dinner     2  121.0
175       32.90   3.11    Male    Yes   Sun  Dinner     2   94.0
178        9.60   4.00  Female    Yes   Sun  Dinner     2   72.0
179       34.63   3.55    Male    Yes   Sun  Dinner     2  114.0
180       34.65   3.68    Male    Yes   Sun  Dinner     4  116.0
181       23.33   5.65    Male    Yes   Sun  Dinner     2  148.0
182       45.35   3.50    Male    Yes   Sun  Dinner     3  109.0
183       23.17   6.50    Male    Yes   Sun  Dinner     4  152.0
184       40.55   3.00    Male    Yes   Sun  Dinner     2   76.0
185       20.69   5.00    Male     No   Sun  Dinner     5  138.0
186       20.90   3.50  Female    Yes   Sun  Dinner     3   65.0
188       18.15   3.50  Female    Yes   Sun  Dinner     3   65.0
189       23.10   4.00    Male    Yes   Sun  Dinner     3  121.0
191       19.81   4.19  Female    Yes  Thur   Lunch     2   76.0
192       28.44   2.56    Male    Yes  Thur   Lunch     2   71.0
193       15.48   2.02    Male    Yes  Thur   Lunch     2   52.0
194       16.58   4.00    Male    Yes  Thur   Lunch     2  121.0
197       43.11   5.00  Female    Yes  Thur   Lunch     4   80.0
200       18.71   4.00    Male    Yes  Thur   Lunch     3  121.0
201       12.74   2.01  Female    Yes  Thur   Lunch     2   29.0
203       16.40   2.50  Female    Yes  Thur   Lunch     2   36.0
204       20.53   4.00    Male    Yes  Thur   Lunch     4  121.0
205       16.47   3.23  Female    Yes  Thur   Lunch     3   60.0
206       26.59   3.41    Male    Yes   Sat  Dinner     3  107.0
207       38.73   3.00    Male    Yes   Sat  Dinner     4   76.0
208       24.27   2.03    Male    Yes   Sat  Dinner     2   53.0
209       12.76   2.23  Female    Yes   Sat  Dinner     2   31.0
211       25.89   5.16    Male    Yes   Sat  Dinner     4  146.0
212       48.33   9.00    Male     No   Sat  Dinner     4  156.0
213       13.27   2.50  Female    Yes   Sat  Dinner     2   36.0
214       28.17   6.50  Female    Yes   Sat  Dinner     3   87.0
216       28.15   3.00    Male    Yes   Sat  Dinner     5   76.0
219       30.14   3.09  Female    Yes   Sat  Dinner     4   58.0
220       12.16   2.20    Male    Yes   Fri   Lunch     2   58.0
221       13.42   3.48  Female    Yes   Fri   Lunch     2   63.0
223       15.98   3.00  Female     No   Fri   Lunch     3   49.0
225       16.27   2.50  Female    Yes   Fri   Lunch     2   36.0
227       20.45   3.00    Male     No   Sat  Dinner     4   76.0
228       13.28   2.72    Male     No   Sat  Dinner     2   74.0
229       22.12   2.88  Female    Yes   Sat  Dinner     2   47.0
231       15.69   3.00    Male    Yes   Sat  Dinner     3   76.0
232       11.61   3.39    Male     No   Sat  Dinner     2  105.0
234       15.53   3.00    Male    Yes   Sat  Dinner     2   76.0
238       35.83   4.67  Female     No   Sat  Dinner     3   79.0
239       29.03   5.92    Male     No   Sat  Dinner     3  150.0
243       18.78   3.00  Female     No  Thur  Dinner     2   49.0

In [14]:
(df.assign(rnk=df.groupby(["day"])["total_bill"].rank(method="first",ascending=False)).query("rnk>3"))

     total_bill   tip     sex smoker   day    time  size   rnk
0         16.99  1.01  Female     No   Sun  Dinner     2  49.0
1         10.34  1.66    Male     No   Sun  Dinner     3  68.0
2         21.01  3.50    Male     No   Sun  Dinner     3  34.0
3         23.68  3.31    Male     No   Sun  Dinner     2  27.0
4         24.59  3.61  Female     No   Sun  Dinner     4  23.0
..          ...   ...     ...    ...   ...     ...   ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3  13.0
240       27.18  2.00  Female    Yes   Sat  Dinner     2  16.0
241       22.67  2.00    Male    Yes   Sat  Dinner     2  26.0
242       17.82  1.75    Male     No   Sat  Dinner     2  47.0
243       18.78  3.00  Female     No  Thur  Dinner     2  20.0

[232 rows x 8 columns]