In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
pd.Timedelta("1 days")
pd.Timedelta("1 days 00:00:00")

Timedelta('1 days 00:00:00')

In [3]:
pd.Timedelta("-1 days 00:00:00")

Timedelta('-1 days +00:00:00')

In [4]:
datetime.timedelta

datetime.timedelta

In [5]:
pd.Timedelta(days=1,seconds=1)

Timedelta('1 days 00:00:01')

In [6]:
pd.Timedelta(1,unit="d")

Timedelta('1 days 00:00:00')

In [7]:
pd.Timedelta(np.timedelta64(1,"ms"))

Timedelta('0 days 00:00:00.001000')

In [8]:
pd.Timedelta("nan")

NaT

In [9]:
## Duration Strings
pd.Timedelta("P0DT0H1M0S")

Timedelta('0 days 00:01:00')

In [10]:
## OFFSETTING
pd.Timedelta(pd.offsets.Second(2))

Timedelta('0 days 00:00:02')

In [11]:
pd.Timedelta(pd.offsets.Day(2))

Timedelta('2 days 00:00:00')

In [12]:
# ## to_time delta.Using the top-level pd.to_timedelta, you can convert a scalar, array, list, or Series from a recognized timedelta format / value into a Timedelta type. It will construct Series if the input is a Series, a scalar if the input is scalar-like, otherwise it will output a TimedeltaIndex.
# You can parse a single string to a Timede

In [13]:
pd.to_timedelta("1 days 06:06:0003")

Timedelta('1 days 06:06:03')

In [14]:
pd.to_timedelta(["1 days 06:05:01.00003", "15.5us", "nan"]) ##

TimedeltaIndex(['1 days 06:05:01.000030', '0 days 00:00:00.000015500', NaT], dtype='timedelta64[ns]', freq=None)

## Parsing

In [ ]:
import datetime
pd.Timedelta("1 days")
pd.Timedelta("1 days 00:00:00")

In [ ]:
pd.Timedelta(days=1,seconds=1)

In [ ]:
pd.Timedelta(1,unit="d")
pd.Timedelta(datetime.Timedelta(days=1,seconds=1))

In [ ]:
pd.Timedelta(np.timedelta64(1,"ms"))

In [ ]:
pd.Timedelta("nat")
pd.Timedelta("P0DT0H1M0S")
pd.Timedelta("P0DT0H0M0.000000123S")

<!-- DateOffsets (Day, Hour, Minute, Second, Milli, Micro, Nano) can also be used in construction.
 -->

In [ ]:
pd.Timedelta(pd.offsets.Second(2))
pd.Timedelta(pd.offsets.Day(2)) + pd.Timedelta(pd.offsets.Second(2)) + pd.Timedelta(
    "00:00:00.000123"
)

In [15]:
pd.to_timedelta(np.arange(5),unit="s")

TimedeltaIndex(['0 days 00:00:00', '0 days 00:00:01', '0 days 00:00:02',
                '0 days 00:00:03', '0 days 00:00:04'],
               dtype='timedelta64[ns]', freq=None)

In [16]:
## Limitations for timedelta
pd.Timedelta.min
pd.Timedelta.max

Timedelta('106751 days 23:47:16.854775807')

In [17]:
## Operations
s=pd.Series(pd.date_range("2012-01-02",periods=3,freq="D"))
print(s)

0   2012-01-02
1   2012-01-03
2   2012-01-04
dtype: datetime64[ns]

In [18]:
td=pd.Series([pd.Timedelta(days=i) for i in range(3)])

In [19]:
s-s.max()

0   -2 days
1   -1 days
2    0 days
dtype: timedelta64[ns]

In [20]:
s-s.min()

0   0 days
1   1 days
2   2 days
dtype: timedelta64[ns]

In [21]:
s-datetime.datetime(2012,1,1,3,5)

0   0 days 20:55:00
1   1 days 20:55:00
2   2 days 20:55:00
dtype: timedelta64[ns]

In [22]:
s+pd.offsets.Minute(5)

0   2012-01-02 00:05:00
1   2012-01-03 00:05:00
2   2012-01-04 00:05:00
dtype: datetime64[ns]

In [23]:
s+pd.offsets.Minute(5)+pd.offsets.Milli(5)

0   2012-01-02 00:05:00.005
1   2012-01-03 00:05:00.005
2   2012-01-04 00:05:00.005
dtype: datetime64[ns]

In [24]:
## Series data with NAT Values
y=s-s.shift()
print(y)

0      NaT
1   1 days
2   1 days
dtype: timedelta64[ns]

In [25]:
y[1]=np.NaN

In [26]:
s.max()-s

0   2 days
1   1 days
2   0 days
dtype: timedelta64[ns]

In [27]:
datetime.datetime(2011,1,1,3,4)-s

0   -366 days +03:04:00
1   -367 days +03:04:00
2   -368 days +03:04:00
dtype: timedelta64[ns]

In [28]:
datetime.timedelta(minutes=5,seconds=5)+s

0   2012-01-02 00:05:05
1   2012-01-03 00:05:05
2   2012-01-04 00:05:05
dtype: datetime64[ns]

In [29]:
## min,max,idmin and idmax are also supported
a=pd.Timestamp("201201")-pd.Timedelta("00:05:05")
B = s - pd.Series(pd.date_range("2012-1-2", periods=3, freq="D"))
df=pd.DataFrame({"A":a,"B":B})

In [30]:
df.min()

A    2001-12-19 23:54:55
B        0 days 00:00:00
dtype: object

In [31]:
df.min(axis=1)

C:\Users\00824732\AppData\Local\Temp\ipykernel_27520\2573389239.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.min(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [32]:
df.idxmax()

A    0
B    0
dtype: int64

In [33]:
## Min,max,idxmax,idxmina are also supported on Series

In [1]:
df.min().max()

NameError: name 'df' is not defined

In [ ]:
## Filling na on timedeltas

In [ ]:
y.fillna(pd.Timedelta(0))

0   0 days
1   0 days
2   1 days
dtype: timedelta64[ns]

In [ ]:
y.fillna(pd.Timedelta(10,unit="S"))

0   0 days 00:00:10
1   0 days 00:00:10
2   1 days 00:00:00
dtype: timedelta64[ns]

In [ ]:
y.fillna(pd.Timedelta("-1 days,00:00:05"))

0   -1 days +00:00:05
1   -1 days +00:00:05
2     1 days 00:00:00
dtype: timedelta64[ns]

In [ ]:
## we can also negate, multiply and use

In [ ]:
td1=pd.Timedelta("-1 days 2 hours 2 seconds")
td1

Timedelta('-2 days +21:59:58')

## Reductions

In [ ]:
y2 = pd.Series(
    pd.to_timedelta(["-1 days +00:00:05", "nat", "-1 days +00:00:05", "1 days"])
)
y2.mean()

Timedelta('-1 days +16:00:03.333333334')

In [ ]:
y2.quantile()

Timedelta('-1 days +00:00:05')

In [ ]:
y2.quantile(0.1)

Timedelta('-1 days +00:00:05')

## Frequency Conversion

In [ ]:
# Frequency conversion
# Timedelta Series, TimedeltaIndex, and Timedelta scalars can be converted to other ‘frequencies’ by dividing by another timedelta, or by astyping to a specific timedelta type. These operations yield Series and propagate NaT -> nan. Note that division by the NumPy scalar is true division, while astyping is equivalent of floor division.

## Operations

In [36]:
tdi=pd.TimedeltaIndex(["1 days",pd.NaT,"2 days"])
tdi.to_list()
dti = pd.date_range("20130101", periods=3)
dti.to_list()

[Timedelta('1 days 00:00:00'), NaT, Timedelta('2 days 00:00:00')]

## Conversion

In [38]:
tdi/np.timedelta64(1,"s")

Float64Index([86400.0, nan, 172800.0], dtype='float64')

In [ ]:
## Scalars type ops work as well. These can potentially return a different type of index.

In [ ]:
tdi+pd.Timestamp("20130101")

DatetimeIndex(['2013-01-02', 'NaT', '2013-01-03'], dtype='datetime64[ns]', freq=None)

In [39]:
tdi+pd.Timedelta("10 days")

TimedeltaIndex(['11 days', NaT, '12 days'], dtype='timedelta64[ns]', freq=None)

In [40]:
tdi/2

TimedeltaIndex(['0 days 12:00:00', NaT, '1 days 00:00:00'], dtype='timedelta64[ns]', freq=None)

## Resampling

In [ ]:
# Similar to timeseries resampling, we can resample with a TimedeltaIndex.
s.resample("D").mean()

<!-- Resampling -->

In [2]:
s.resample("D").mean()

NameError: name 's' is not defined